<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qingniu.blesdkdemopro">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADVERTISE"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BleSdkDemoPro"
        tools:replace="android:theme"
        android:testOnly="false"
        tools:targetApi="31">
        <activity
            android:name=".UserSettingActivity"
            android:exported="false"
            android:label="@string/title_activity_user_setting"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".HeightMeasureActivity"
            android:exported="false"
            android:label="@string/title_activity_height_measure"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".TapeMeasureActivity"
            android:exported="false"
            android:label="@string/title_activity_tape_measure"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".QNScaleMeasureActivity"
            android:exported="false"
            android:label="@string/title_activity_qnscale_measure"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".WifiSettingActivity"
            android:exported="false"
            android:label="@string/title_activity_wifi_setting"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".QNScalePairNetActivity"
            android:exported="false"
            android:label="@string/title_activity_qnscale_pair_net_setting"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".UnitSelectActivity"
            android:exported="false"
            android:label="@string/title_activity_unit_select"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".BindDevicesActivity"
            android:exported="false"
            android:label="@string/title_activity_bind_devices"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".DeviceUserManageActivity"
            android:exported="false"
            android:label="@string/title_activity_device_user_manage"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".KitchenScaleMeasureActivity"
            android:exported="false"
            android:label="@string/title_activity_device_user_manage"
            android:theme="@style/Theme.BleSdkDemoPro" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BleSdkDemoPro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>